.roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }

/*start coding here*/  
* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
header {
    height: 60px;
    
}
.title {
    font-size: 30px;
    font-weight: bold;
    line-height: 60px;
    vertical-align: middle;
}
.logo {
    vertical-align: middle;
    padding-left: 10px;
}
.container {
    margin: 50px 100px;
    padding: 20px 40px; 
    
}
header, .container {
    background-color: beige;
}
