.roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }

/*start coding here*/  
* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
header {
    height: 60px;
}
.title {
    font-size: 30px;
    font-weight: bold;
    line-height: 60px;
    vertical-align: middle;
}
.logo {
    vertical-align: middle;
    padding-left: 10px;
}
.container {
    margin: 50px 100px;
    padding: 20px 40px; 
}
header, .container {
    background-color: beige;
}
.blue, .blue-highlight {
    background-color: rgb(0, 166, 255);
}
.navigator {
    padding: 10px 20px;
}
.lists {
    padding: 10px 40px;
}
.checkmark {
    color: green;
    border: 3px solid green;
    border-radius: 50%;
    padding: 3px;
}
.cross {
    color: red;
    border: 3px solid red;
    border-radius: 50%;
    padding: 3px;
}
.blue-highlight, .violet-highlight, .green-highlight, .orange-highlight {
    padding: 8px;
    border-radius: 20%;
}
.violet-highlight {
    background-color: rgb(220, 43, 226);
}
.green-highlight {
    background-color: green;
}
.orange-highlight {
    background-color: orange;
}
