.roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }

/*start coding here*/  
*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    height: 100px;

}
.title {
    font-size: 40px;
    font-weight: bold;
}
.logo {
    padding-left: 10px;
}
.logo, .title {
    line-height: 80px;
    vertical-align: middle;
}
.container {
    margin: 50px 100px;
    padding: 20px 40px; 
}

.blue, .blue-highlight {
    background-color: rgb(0, 166, 255);
}
button {
    padding: 5px;
    border-radius: 10%;
}
.navigator {
    padding: 10px 20px;
}
header, .lists, .navigator {
    padding: 10px 40px;
    margin: 3px 0;
    background-color: beige;
}
h2 {
    margin: 40px 0px 3px;
}
ul {
    list-style: none;
}
li {
    margin: 20px 2px;
}
.checkmark {
    color: green;
    border-color:  green; 
}
.cross, .checkmark {
    font-size: 8px;
    border-radius: 50%;
    padding: 4px 5px;
    border: 2px solid;
}
.cross {
    color: red;
    border-color:  red;
}
.blue-highlight, .violet-highlight, .green-highlight, .orange-highlight, .pink-highlight, .yg-highlight {
    padding: 8px;
    border-radius: 25%;
    color: white;
    font-size: 10px;
}
.violet-highlight {
    background-color: rgb(220, 43, 226);
}
.green-highlight {
    background-color: green;
}
.orange-highlight {
    background-color: orange;
}
.pink-highlight {
    background-color: pink;
}
.yg-highlight {
    background-color: yellowgreen;
}
